[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[4E21-0000]
row=1
col=0

[B2A6D3E0A6D3A2E1]
row=2
col=0

[83A6-E98E]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/dev.wladimir]
row=5
col=0

